@import "variables.scss";

.box {
    background-color:white;
    border-radius: 0px;
    border:1px solid var(--black-primer);
    overflow: hidden;
    max-height:53vh;
    // box-shadow: 0px 3px 10px 0px var(--cognac-primer);
  }
  
  .box {
    margin-right: 20px;
    margin-top: 3em;
    margin-bottom:6em;
  }
  
  .grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .grid > div {
    flex-basis: calc(33% - 20px);
  }

  .cover{
      border-bottom:1px solid var(--black-primer);

  }


  .cardButton{
      margin-top:2em;
      border-radius:0px;
      width: 100%;
      border-radius: 100px;
      color:var(--black-primer);
      border:1px solid var(--white-primer);
      background-color:var(--white-primer);
      box-shadow: 0px 3px 10px 0px var(--cognac-primer);
      transition: 0.5s;
      text-transform: uppercase;
  }

  .cardButton:hover, .cardButton:active, .cardButton:visited, .cardButton:focus{
      background-color: var(--cognac-primer);
      border:1px solid var(--black-primer);
      box-shadow: 0px 3px 3px 0px var(--cognac-primer);

  }

  h3{
    line-height: 1.75rem;
  }