.primerFooter{
    background-color: var(--black-primer);
    color:var(--white-primer);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding:3px;
  }
  