@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fontsource/inter/index.css";
@import "@fontsource/crimson-text/index.css";

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: inter, sans-serif;
}

h1 {
  font-family: inter, sans-serif;
  font-style: medium;
  font-weight: 600;
  font-size: 3.375rem;
  line-height: 3.875rem;
  margin: 0;
}

h2 {
  font-family: crimson text, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0;
}

h3 {
  font-family: inter, sans-serif;
  font-style: medium;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3625rem;
  margin: 0;
}

h4 {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.212rem;
  margin: 0;
}

h5 {
  font-family: crimson text, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.212rem;
  margin: 0;
}

p {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin: 0;
}
