@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fontsource/inter/index.css";
@import "@fontsource/spectral/index.css";
@import "variables.scss";

html {
  font-size: 16px;
}

body {
  height: auto;
  font-family: inter, sans-serif;
  background-color: var(--white-primer);
}

main {
  padding: 6em 0em 6em 0em;
}

h1 {
  font-family: inter, sans-serif;
  font-weight: 600;
  font-size: 3.375rem;
  line-height: 3.875rem;
  margin: 0;
}

h2 {
  font-family: spectral, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.175rem;
  line-height: 1.75rem;
  margin: 0;
}

strong {
  font-weight: 500;
  font-family: inter, sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-decoration: underline;
}

h3 {
  font-family: spectral, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1.312rem;
  line-height: 1.4rem;
  margin: 0;
}

h4 {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.325rem;
  margin: 0;
}

h5 {
  font-family: spectral, serif;
  font-weight: 800;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1rem;
}

h6 {
  margin: 0.5em 0 0.5em 0;
  font-family: spectral, serif;
}

p {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin: 0;
}

a {
  color: var(--red-primer);
  text-decoration: none;

  :hover {
    color: var(--blue-primer);
  }
}

//index and other pages

.intro {
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0;
  margin-bottom:2em;
  z-index:1;
  position:relative;
}

.foreText{
  position:relative;
  z-index:1;
}

.gradient {
  background: -webkit-linear-gradient(#ffc200, #ff531d, #6474f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.floatingSquare{
  background-image: linear-gradient(#ffc200, #ff531d, #6474f4);
  position:absolute;
  width: 80vh;
  height: 80vh;
  margin:3em 3em 4em 4em;
  z-index:0;
  border-radius: 100%;
  filter: blur(50px);
}

.floatingSquareSmall{
  background-image: linear-gradient(#ffc200, #ff531d, #6474f4);
  position:absolute;
  width: 40vh;
  height: 40vh;
  margin:3em 3em 4em 4em;
  z-index:0;
  border-radius: 100%;
  filter: blur(30px);
}

hr {
  margin-bottom: 20px;
  opacity:1;
  color:var(--blue-primer);
}

.references{
  margin-bottom:2em;
}

.actionButton {
  margin-top: 2em;
  border-radius: 0px;
  width: 100%;
  border-radius: 100px;
  color: var(--black-primer);
  border: 1px solid var(--white-primer);
  background-color: var(--white-primer);
  box-shadow: 0px 3px 3px 0px var(--cognac-primer);
  transition: 0.5s;
  text-transform: uppercase;
}

.actionButton:hover,
.actionButton:active,
.actionButton:visited,
.actionButton:focus {
  background-color: var(--cognac-primer);
  border: 1px solid var(--black-primer);
  box-shadow: 0px 3px 3px 0px var(--cognac-primer);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
