@import "variables.scss";


.customNavbar{ 
    font-weight: 600;
    text-transform: lowercase;
    position: sticky !important;

    a {
        text-decoration: none;
        transition: 1s transform ease;
    }

    a:hover{
        border-bottom:1px solid black;
    }

    .customNavbarLinks{
        color: var(--black-primer);
        margin: 0 1em 0 1em;
        }


    
}
