@import "variables.scss";


.processBoxFix{
    height: 100%;
    overflow-y: hidden;
    position:fixed;
    padding: var(--navigation-height) 3em 0 3em;
}

.processBoxScroll{
    border-left: 1px solid var(--black-primer);
    height: 100%;
    padding: calc(var(--navigation-height)) 0em 3em 3em;
}


.processContent h4, .processBoxScroll h4{
    font-size: 1.225rem;
    line-height: 1.8rem;
    font-family:spectral;
}

.processContent h5, .processBoxScroll h5, .processBoxFix h5{
    font-weight: 800;
    font-size: 0.875rem;
    font-family:spectral;
    color:var(--cognac-primer);
}

.processTitle{
    position:sticky;
    font-weight: lighter;
    grid-column: 2fr;
    right:0;
    top:calc((var(--navigation-height)) + (var(--alert-heigth)) + 2em);

    h1{
        font-weight: 500;
    }

    h2{
        font-weight: 500;
    }
}

.processGrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.row > *{
    margin:0;
    padding-left:0 !important;
}

.processImg{
    margin-bottom:3em;
    float: left;
}

.processCaption{
    color: var(--cognac-primer);
    position: relative;
    text-align: left;
    left:0;
    top:1vh;
}

.processCarousel{
z-index:0;
}


.tags-container {
    margin: 0;
    .tag {
      background-color: var(--dark-grey-primer);
      color: var(--white-primer);
      height: 20px;
      border-radius: 10px;
      display: inline-flex;
      padding: 0px 10px;
      margin: 3px;
      align-items: center;
      justify-content: center;
      p {
        margin: 0;
      }
    }
  }

// Fix controls 

section{
    padding: var(--navigation-height) 0em 0em 0em
}


