@import "variables.scss";

.viz {
  width: 100vw;
  height: calc(100vh - var(--navigation-height));
  position: relative;

  display: grid;

  grid-template-columns: 20px var(--panels-width) auto var(--panels-width) 20px;
  grid-template-rows: 20px auto 20px;

  .visualizationSvg {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    &.clusters {
      background-color: $clusters-bg;
    }
    &.projects {
      background-color: $projects-bg;
    }
    &.networks {
      background-color: $networks-bg;
    }
  }

  .tools {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    .panel {
      pointer-events: all;
      background-color: var(--white-primer);
      border: 1px solid var(--black-primer);
      overflow: hidden;
      transition: height 0.15s ease;
      height: 40px;
      width: 100%;

      .nav-link.active {
        border: 1px solid var(--black-primer);
      }

      &.open {
        height: fit-content;
        .customTabs {
          border-bottom: 1px solid var(--black-primer);
        }
        .customTabs a {
          border-bottom: transparent;
        }
      }

      a {
        color: var(--cognac-primer);
      }

      .panelHeader {
        height: 38px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        .closeBtn {
          font-size: 2rem;
          padding: 0.3rem;
          cursor: pointer;
          border-radius: 5px;
          transition: 0.5s;
          &:hover {
            background-color: var(--light-grey-primer);
          }
        }
      }

      .legend {
        width: 100%;
      }
    }

    .buttonsTest {
      grid-column-start: 2;
      grid-column-end: span 1;
      grid-row-start: 2;
      grid-row-end: 3;
      background-color: var(--white-primer);
      border: 1px solid var(--black-primer);
    }
  }

  .toursControls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid var(--cognac-primer);
    border-radius: 100px;
    background-color: var(--light-grey-primer);
    box-shadow: 0px 3px 15px 0px var(--cognac-primer);

    & .toursButton {
      background-color: var(--light-grey-primer);
      border-radius: 100px;
      text-transform: uppercase;
      color: var(--cognac-primer);
      border-color: var(--light-grey-primer);
    }
  }

  .toursBox {
    max-width: 400px;
    padding: 10px;
    color: var(--cognac-primer);
    border: 1px solid var(--cognac-primer);
    background-color: var(--white-primer);
    position: absolute;
    bottom: 100px;
    left: 51%;
    transform: translate(-50%, 0);
    margin-top: 2em;
  }

  .toursText {
    color: var(--cognac-primer);
    filter: none !important;
  }

  .listTour {
    margin-top: 1em;
  }

  .collection {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--white-primer);
    border: 1px solid var(--black-primer);
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px auto 40px;
    padding: 0 10px;
    transition: height 0.15s ease;
    height: 40px;

    &.open {
      height: 100%;
    }

    .header {
      display: grid;
      grid-template-columns: auto 2rem 2rem;
      column-gap: 5px;
      margin: 0;
      align-items: center;
      justify-items: center;
      position: relative;
      height: 38px;
      width: 100%;
      // padding: 0 10px;

      &.firstHeader {
        width: calc(100% - 10px);
      }

      .title {
        justify-self: start;
        align-items: center;
        vertical-align: middle;
      }

      .elementsCounter {
        background-color: var(--white-primer);
        border: 1px solid var(--cognac-primer);
        display: inline-flex;
        width: 1.5rem;
        height: 1.5rem;
        align-items: center;
        justify-content: center;
        padding: 0.1rem;
        border-radius: 50%;
      }

      .closeBtn,
      svg {
        font-size: 2rem;
        border-radius: 0px;
        padding: 0.3rem;
        border-radius: 5px;
        transition: 0.5s;

        &:hover {
          background-color: var(--light-grey-primer);
          color: var(--black-primer);
        }
      }
    }

    .body {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .group {
        width: 100%;
        background-color: white;
        overflow: hidden;
        height: 40px;
        height: 40px;
        transition: height 0.15s ease;
        box-sizing: border-box;
        border-radius: 0px;
        background-color: var(--white-primer);
        border: 1px solid var(--cognac-primer);
        padding: 0 10px;
        margin-bottom: 10px;

        &.open {
          overflow: scroll;
          height: calc(100% - 60px);
          color: #000;
          border: 1px solid var(--cognac-primer);
          background-color: var(--white-primer);
          padding-bottom: 3px;
        }

        & > div:not(.header) {
          position: relative;
          top: initial !important;
          right: initial !important;
          bottom: initial !important;
          left: initial !important;
          width: calc(100%);
          margin: 0 0 10px;
          border-radius: 7px;
        }
      }
    }

    .download {
      background-color: var(--black-primer);
      color: var(--white-primer);
      margin: 0 -10px;
      text-align: center;
      // cursor: not-allowed;
    }
  }

  .legend {
    width: 100%;
    margin-top: 1em;
  }

  .colorLegend {
    margin-left: -2em;
    margin-top:1em;

    ul {
      list-style-type: none !important;
      line-height: 20rem;
    }
  }

  .colorLegend span {
    border: 0.5px solid var(--black-primer);
    margin:2px 5px 2px 0px;
    float: left;
    width: 20px;
    height: 10px;
    border-radius: 2px;
  }
  /* your colors */
  .exhibition {
    background-color: var(--red-primer);
  }
  .desktop {
    background-color: var(--blue-primer);
  }
  .mobile {
    background-color: var(--yellow-primer);
  }
  .multiple {
    background-color: var(--light-grey-primer);
  }

.strategy {
  background-color: var(--grey-primer);
}

.medium {
  background-color: var(--white-primer);
}



  .textLegend {
    font-size: 0.7rem !important;
    margin-top:5px;
  }

  small .textLegend {
    text-transform: lowercase;
    font-family: Spectral, serif;
    font-style: italic;
    font-size: 0.7rem !important;
    color:var(--cognac-primer);
  }

.subtitleLegend{
    color:var(--cognac-primer);
    margin-top:1em;
  }

  .boxLegend {
    margin-bottom: 1em;
  }

  .searchBar {
    position: fixed;
    top: 35%;
    left: 50%;
    background-color: var(--white-primer);
    border-radius: 100px;
    text-transform: uppercase;
    color: var(--cognac-primer);
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 50px 0px var(--cognac-primer);

    width: 50%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &.hidden {
      visibility: hidden;
    }

    .icon {
      font-size: 1.5rem;
      margin: 1.5rem;
      &:hover {
        background-color: #eee;
      }
    }

    .closeBtn {
      pointer-events: all;
    }

    :global .rbt {
      border: none;
      background-color: transparent;
      flex-grow: 2;
      padding: 0;
      margin: 0;
      font-size: 1.2rem;

      :global .form-control {
        background-color: transparent;
        border: none;
        &:focus {
          box-shadow: none;
          border: none;
        }
      }

      :global .rbt-aux {
        width: auto;
      }
    }
  }

  .customTab {
    padding: 1em;
  }

  .closeBtn {
    cursor: pointer;
  }
}
