// $panels-width: max(100vw/4, 280px);
$tooltips-width: 280px;
$clusters-bg: #F8F6F2;
$projects-bg: #FEF7EB;
$networks-bg: #FFF5E0;

html {
    --panels-width: max(25vw, 280px);
    --stroke-width: 1;
    --label-size: 10;
    --dark-grey-primer: #777777;
    --black-primer: #222;
    --grey-primer: #E5E5E5;
    --white-primer: #FAFAFA;
    --cognac-primer: #FF531D;
    --light-grey-primer: #F2F2F2;
    --red-primer: #FF531D;
    --blue-primer: #6474FF;
    --yellow-primer: #FFC200;
    --navigation-height: 40px;
    --alert-heigth:50px;

    --navbar-height: 42px;
  }