@import "variables.scss";

.tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: $tooltips-width;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  background-color: var(--white-primer);
  padding: 10px 10px 0 10px;

  .closeBtn {
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0px;
    &:hover {
      background-color:var(--light-grey-primer);
    }
  }

  h2{
    margin-top:0.2em;
  }

  h5{
    margin: 0.5em 0 0.5em 0;
  }


  .tags-container {
    margin: 5px -3px 5px;
    .tag {
      background-color: var(--dark-grey-primer);
      color: var(--white-primer);
      height: 20px;
      border-radius: 10px;
      display: inline-flex;
      padding: 0px 10px;
      margin: 3px;
      align-items: center;
      justify-content: center;
      p {
        margin: 0;
      }
    }
  }

  .supplemental {
    display: inline-flex;
    margin: 0.4rem 0;

    svg {
      margin-right: 0.5rem;
    }
  }

  .addToCollection {
    background-color: var(--black-primer);
    height: 42px;
    width: calc(100% + 20px);
    display: flex;
    margin: 0 -10px;
    color: var(--white-primer);
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: var(--dark-grey-primer);
    }
  }
  .addedToCollection {
    background-color: var(--dark-grey-primer);
    bottom:0;
    height: 42px;
    width: calc(100% + 20px);
    display: flex;
    margin: 0 -10px;
    color: var(--white-primer);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
