@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&family=IBM+Plex+Serif:ital,wght@0,100;0,400;0,500;1,300;1,400&display=swap");

html {
  background: #fff;
  font-family: "IBM Plex", sans-serif;
}

body {
  background: #fff;
  font-family: "IBM Plex", sans-serif;
  color: black;
  overflow-x: hidden;
  z-index: -2;
}

section {
  margin-bottom: 3rem;
  padding-bottom: 5rem;
}

a,
a:visited,
a:focus {
  color: #ea1515;
}

a:hover {
  color: #b30000;
  text-decoration: none;
}

hr {
  border-top: 1px solid #0a0101;
}

.container-fluid {
  padding: 0;
}

.container {
  width: 90%;
}

/* Style the buttons that are used to open and close the accordion panel */

button p {
  text-transform: uppercase;
}

button.accordion {
  background-color: #fff;
  color: #3479ff;
  cursor: pointer;
  padding: 10px;
  width: 500px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active,
button.accordion:hover {
  background-color: #3479ff;
  color: #fff;
  border: 1px solid black;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 20px 50px;
  width: 500px;
  position: absolute;
  background-color: white;
  opacity: 0.9;
  font-family: "IBM Plex", sans-serif;
  display: none;
  transition: 0.4s;
  backdrop-filter: blur(4px);
  border: 1px solid black;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
  display: block !important;
}

img {
  transition: 0.4s;
  width: 400px;
}

.user {
  border-radius: 10px;
}

#top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #010a0a;
  font-family: "IBM Plex", sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
}

.disabled {
  display: none;
}

#sections {
  position: absolute;
  top: 0;
  height: 2rem;
  background: red;
  z-index: -1;
}

#content {
  z-index: 0;
}

#intro {
  padding: 0;
  margin-bottom: 0rem;
  border-bottom: 1px solid #0a0101;
  display: flex;
  align-items: center;
  background-size: 1000px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

::selection {
  background: #ea1515;
  color: #f9efe3;
}

#intro-2 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0a0101;
}

#highlight {
  overflow-x: hidden;
}

.citation {
  font-size: 1.7rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.navbar {
  background: #efe9e7;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #ea1515;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
  font-family: "IBM Plex", sans-serif;
  font-weight: 700;
  line-height: 1em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1rem;
  font-family: "IBM Plex Serif", sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0;
}

h6 {
  font-size: 0.9rem;
  color:white;
  font-family: "IBM Plex", sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  padding:5px;
  line-height: 1em;
  background-color:red;
  border-radius: 100px;
}

#xai {
  border: 1px solid white;
  margin-top: 2em;
}

.legend > .desc {
  padding-right: 1rem;
}

#legend {
  margin-top: 4rem;
}

#legend > * {
  font-size: 0.9rem;
}

#legend p,
#legend h6 {
  margin: 0;
}

#legend p {
  display: inline-block;
  margin-right: 0.5rem;
}

.label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

.item {
  cursor: pointer;
}

.event {
  transition: opacity 0.3s ease;
  user-select: none;
  background-color: blue;
}

.event:hover {
  cursor: pointer;
}

.event p {
  max-width: 80%;
  position: relative;
  margin-left: 30%;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 0.2rem;
}

.event .glyph {
  position: absolute;
}

.location {
  font-style: italic;
  font-size: 7px;
}

.event .year {
  font-weight: bold;
}

.event .gender {
  font-weight: bold;
  float: left;
  margin-right: 0.5rem;
}

.state {
  font-family: "Helvetica";
  font-size: 1.2rem;
  font-weight: bold;
}

#details {
  min-height: 5rem;
  transition: all 0.3s ease;
}

#detCont {
  z-index: 9999;
  pointer-events: none;
}

.sangue {
  margin: 0 100px 0 100px;
  height: 100px;
}

.sangue img {
  width: 100%;
  height: 100%;
}

svg {
  margin: auto;
  margin-bottom: 2rem;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.domain {
  stroke: #777;
  display: none;
}

.tick text {
  font-size: 0.7rem;
  font-family: "Helvetica", sans-serif;
}

.yAxis .tick line,
.xAxis .tick line {
  stroke-width: 0.5;
  stroke: #777;
}

.xAxis .tick line {
  stroke-dasharray: 2, 2;
}

.timelineAxis .tick line {
  stroke-dasharray: 2, 2;
  stroke: #777;
}

.tick text {
  fill: #777;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
}

.buttons p {
  margin-right: 0.5rem;
}

.bloodAxis .tick line,
.xAxis .tick line {
  stroke-width: 1;
  stroke: #777;
}

button {
  background: #f9efe3;
  padding: 0.2rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
  outline: none;
  font-family: "Helvetica", sans-serif;
  font-size: 0.9rem;
}

button:focus {
  outline: none;
}

.circ {
  transition: opacity 0.3s ease;
}

.circ:hover {
  cursor: pointer;
}

.button-label {
  font-family: "Helvetica", sans-serif;
  font-size: 0.9rem;
}

.b_sel {
  border: 1px solid #0a0101;
  color: #0a0101;
}

.b_sel:hover {
  background: rgba(0, 0, 0, 0.3);
}

.d_sel {
  border: 1px solid #ea1515;
  color: #ea1515;
}

.d_sel:hover {
  background: rgba(244, 67, 54, 0.3);
}

.d_del {
  background: grey;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.disabled {
  pointer-events: none;
  cursor: normal;
}

.selected {
  color: white;
}

.source {
  font-style: italic;
  font-size: 0.8rem;
  color: #777;
}

div.tooltip {
  position: fixed;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  bottom: 3rem;
  left: 3rem;
  opacity: 0;
  border: 1px solid black;
  transition: all 0.3s ease;
  pointer-events: none;
  background-color: white;
  max-width: 200px;
}

div.tooltip p {
  margin-right: 0.2rem;
  line-height: 1.3;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s ease;
  display: inline-block;
  font-family: "Helvetica", "Arial", sans-serif;
}

.info {
  fill: black;
  font-size: 1rem;
  margin-bottom: 0;
}

.date {
  font-weight: bold;
}

#killingbees-ui {
  margin-bottom: 1rem;
}

#killingbees svg {
  overflow-x: hidden;
}

#footer {
  margin-bottom: 5rem;
}

#footer .col-4 {
  border-radius: 2px;
  color: #0a0101;
  padding: 1rem;
}

/* Mappa */

#map {
  margin-top: 4rem;
}

#map svg {
  border-top: 1px solid #9fc6c3;
  border-bottom: 1px solid #9fc6c3;
  cursor: move;
}

.mapTooltip {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 13rem;
  pointer-events: none;
}

.mapTooltip p {
  font-size: 0.95rem;
  margin: 0.2rem;
}

.states {
  fill: #f9efe3;
  stroke: #9fc6c3;
}

.mapCircle {
  stroke-width: 1;
}

.mapCircle:hover {
  cursor: pointer;
}

#map .date {
  font-size: 1.6rem;
}

.tip {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.description {
  color: rgba(0, 0, 0, 0.5);
}

.bills-tooltip p {
  font-size: 0.98rem;
}

.code {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.active {
  cursor: pointer;
}

.bills {
  transition: all 0.3s;
}

.bills:hover {
  cursor: pointer;
}

.mucchi {
  margin-top: 2rem;
  border-bottom: 1px solid #010a0a;
}

.mucchi img {
  margin-top: 1rem;
}

.mucchi > div {
  text-align: center;
}

.mucchi p {
  margin-bottom: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  font-size: 1rem;
  letter-spacing: -1px;
}

.KPI {
  font-size: 3rem !important;
}

.total {
  opacity: 0.4;
}

/* LOADER */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(3, 3);
    opacity: 0;
  }
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #0a0101;
}

.dot-a {
  background: #f9efe3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  left: 49%;
  animation: 1s pulse ease-out infinite;
}

#alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f9efe3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alert > * {
  width: 50vw;
  font-size: 1.6rem;
}

@media only screen and (max-width: 1224px) {
  body {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  #nav {
    display: none;
  }

  .citation {
    font-size: 1.3rem;
  }

  #detCont {
    position: fixed;
    bottom: 0;
    left: 5%;
  }
}
